

<h3>Student Information</h3>

<button onclick="document.getElementById('id01').style.display='block'" style="float: right;" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add Student Info">
  +
</button>


<!-- <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-blue" style="float: right;">+</button> -->
<form #personal="ngForm" (ngSubmit)="savePersonal(personal.value)" row>
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content" style="float: right;width:70vw;height: auto;margin-top: -80px; margin-right: 5px;">
      <header class="w3-container w3-teal"> 
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">Closed</span>
        <h2>Add</h2>
        </header>
      <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" title="Personal Details">
          Personal Details
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <!-- <form #personal="ngForm" (ngSubmit)="savePersonal(personal.value)" row> -->
              <div class="container row">
                <div class="row row">
                  <div class="col-lg-12 row">
                    <div class="col-lg-4">
                       <label>Sr No</label>
                       <!-- <input type="text" name="id" [ngModel]="id" class="form-control"> -->
                    </div>
                    <div class="col-lg-4">
                      <label>Name</label>
                      <input type="text" name="Name" [ngModel]="name" class="form-control">
                    </div>
                    <div class="col-lg-4">
                      <label>Salary</label>
                      <input type="text" name="Salary" [ngModel]="Salary" class="form-control">
                    </div>
                    <div class="col-lg-4">
                      <label>State</label>
                      <!-- <select name="cars" class="form-control">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                      </select> -->

                      <select class="form-select" name="state" aria-label="Default select example" ngModel>
                        <option selected>-- Please Select --</option>
                        <option value="1">Utter Predesh</option>
                        <option value="2">Delhi</option>
                        <option value="3">Mumbai</option>
                      </select>

                    </div>
                    <div class="col-lg-4">
                      <label>DOB</label>
                      <input type="date" class="form-control" name="DOB" ngModel>
                    </div>
                    <div class="col-lg-4">
                      <label>Gender</label>
                      <select class="form-select" name="Gender" aria-label="Default select example" ngModel>
                        <option selected>-- Please Select --</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                      </select>
                    </div>
                    <div class="col-lg-4">
                      <label>Blood Groop</label>
                      <input type="text" class="form-control" name="Blood" ngModel>
                    </div>
                    <div class="col-lg-4">
                      <label>Place Of Birth</label>
                      <input type="text" class="form-control" name="POB" ngModel>
                    </div>
                    <div class="col-lg-4">
                      <label>Nationallity</label>
                      <select class="form-select" name="Nationallity" aria-label="Default select example" ngModel>
                        <option selected>-- Please Select --</option>
                        <option value="1">Indian</option>
                      </select>
                    </div>
                    <div class="col-lg-4">
                      <label>Religion </label>
                      <input type="text" class="form-control" name="Religion" ngModel>
                    </div>
                    <div class="col-lg-4">
                      <label>Economical Backward</label>
                      <select class="form-select" name="Economical" aria-label="Default select example" ngModel>
                        <option selected>-- Please Select --</option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                      </select>
                    </div>
                    <div class="col-lg-4">
                      <label>Aadhar No</label>
                      <input type="text" class="form-control" name="AadharNo" ngModel>
                    </div>
                    <div class="col-lg-12">
                    <!-- <button type="submit" class="btn btn-primary mt-2" style="float: right;margin-right:0px;width:160px;"> Save</button> -->
                  </div>
                  </div>
                </div>
              </div>
            <!-- </form> -->
            </div>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">

              <table class="table table-bordered table-striped mb-0">
                <thead>
                  <tr>
                    <th>SrNo</th>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>State</th>
                    <th>SrNo</th>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>State</th>
                  </tr>
                  
                </thead>
                <tbody>
                  <tr *ngFor="let item of items; index as i">
                    <td>{{i+1}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Salary}}</td>
                    <td>{{item.state}}</td>
                    <td>{{item.DOB}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Salary}}</td>
                    <td>{{item.state}}</td>
                  </tr>
                </tbody>
              </table>
            
            </div>
      </div>
    
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" title="Admission Details">
          Admission Details
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="container row">
            <div class="row row">
              <div class="col-lg-12 row">
                <div class="col-lg-4">
                   <label>Admission For</label>
                   <input type="text" name="AdmissionFor" ngModel class="form-control">
                </div>
                <div class="col-lg-4">
                  <label>Academic Year</label>
                  <input type="datetime" name="AcademicYear" ngModel class="form-control">
                </div>
                <div class="col-lg-4">
                  <label>Quota</label>
                  <select class="form-select" name="Quota" aria-label="Default select example" ngModel>
                    <option selected>-- Please Select --</option>
                    <option value="1">Merit</option>
                    <option value="2">NRI</option>
                    <option value="3">PIO</option>
                    <option value="4">TFW-Merit</option>
                    <option value="5">GOI Nominee</option>
                    <option value="6">J & K </option>
                    <option value="7">Management Quota</option>
                    <option value="8">Other</option>
                  </select>

                </div>
                <div class="col-lg-4">
                  <label>Types Regular</label>
                  <select class="form-select" name="typesRegular" aria-label="Default select example" ngModel>
                    <option selected>-- Please Select --</option>
                    <option value="1">Regular</option>
                    <option value="2">Readmission</option>
                    <option value="3">Spot Admission</option>
                    <option value="4">Inter College Transfer</option>
                  </select>

                </div>
                <div class="col-lg-4">
                  <label>Which Course</label>
                  <select class="form-select" name="WhichCourse" aria-label="Default select example" ngModel>
                    <option selected>-- Please Select --</option>
                    <option value="1">Computer Science</option>
                    <option value="2">Information Technology</option>
                    <option value="3">Electronice & Communication Engineering</option>
                    <option value="4">Machanical Engineering</option>
                    <option value="4">Electrical & Electronice Engineering</option>
                    <option value="4">CIVIL Engineering</option>
                  </select>
                </div>
                <div class="col-lg-4">
                  <label>ADMITTED RESERVATION CATEGORY</label>
                  <select class="form-select" name="AdmittedReservation" aria-label="Default select example" ngModel>
                    <option selected>-- Please Select --</option>
                    <option value="1">General</option>
                    <option value="2">OBC</option>
                    <option value="3">Sc/St</option>
                  </select>
                </div>
                <div class="col-lg-4">
                  <label>INCOME CATEGORY</label>
                  <select class="form-select" name="INCOMECATEGORY" aria-label="Default select example" ngModel>
                    <option selected>-- Please Select --</option>
                    <option value="1">APL</option>
                    <option value="2">BPL</option>
                  </select>
                </div>
                <div class="col-lg-4">
                  <label>ENTRANCE TYPE</label>
                  <select class="form-select" name="ENTRANCETYPE" aria-label="Default select example" ngModel>
                    <option selected>-- Please Select --</option>
                    <option value="1">CUET</option>
                    <option value="2">CAT</option>
                    <option value="3">CMAT</option>
                    <option value="4">KMAT</option>
                    <option value="5">NATA</option>
                    <option value="6">Other</option>
                  </select>
                </div>
                <div class="col-lg-4">
                  <label>ENTRANCE ROLL NO </label>
                  <input type="text" class="form-control" name="ENTRANCERoll" ngModel>
                </div>
                <div class="col-lg-4">
                  <label>ENTRANCE RANK </label>
                  <input type="text" class="form-control" name="ENTRANCERANK" ngModel>
                </div>
                <div class="col-lg-4">
                  <label>QUALIFICATION</label>
                  <select class="form-select" name="QUALIFICATION" aria-label="Default select example" ngModel>
                    <option selected>-- Please Select --</option>
                    <option value="1">Diploma</option>
                    <option value="2">B Com</option>
                    <option value="1">BSC</option>
                    <option value="2">MSC</option>
                    <option value="1">BBA</option>
                    <option value="2">BCA</option>
                    <option value="1">BE</option>
                    
                  </select>
                  
                </div>
                <div class="col-lg-12">
                <!-- <button type="submit" class="btn btn-primary mt-2" style="float: right;margin-right:0px;width:160px;"> Save</button> -->
              </div>
              </div>
            </div>
          </div>        
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" title="Higher Secondary School Details">
          Higher Secondary School Details
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="container row">
            <div class="row row">
              <div class="col-lg-12 row">
                
                <div class="col-lg-4">
                  <label>Board</label>
                  <select class="form-select" name="Board" aria-label="Default select example" ngModel>
                    <option selected>-- Please Select --</option>
                    <option value="1">Up Board</option>
                    <option value="2">CBSE</option>
                    <option value="3">ICSE</option>
                  </select>

                </div>
                <div class="col-lg-4">
                  <label>YEAR</label>
                  <input type="month" class="form-control" name="YEAR" ngModel>
                </div>
                <div class="col-lg-4">
                  <label>REG NO</label>
                  <input type="text" class="form-control" name="REGNO" ngModel>
                </div>
                <div class="col-lg-4">
                  <label>TOTAL MARK</label>
                  <input type="text" class="form-control" name="TOTALMARK" ngModel>
                </div>
                <div class="col-lg-4">
                  <label>Obtained Mark</label>
                  <input type="text" class="form-control" name="ObtainedMark" ngModel>
                </div>
                <div class="col-lg-4">
                  <label>Total Percentage(%)</label>
                  <input type="text" class="form-control" name="TOTALPERCENTAGE" ngModel>
                </div>
                <div class="col-lg-12">
                <!-- <button type="submit" class="btn btn-primary mt-2" style="float: right;margin-right:0px;width:160px;"> Save</button> -->
              </div>
              </div>
            </div>
          </div>        
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-2" style="float: right;margin-right:20px;width:160px;"> Save</button> 

    </div>
    <br>
 
    <br>
  </div> 
</div>
<br>

<!-- <button type="submit" class="btn btn-secondary" style="float: right;margin-right:20px;width:160px;">save</button> -->
</div>
</form>

<!-- 
<table style="border:1px solid black;width:100%;">
  <tr>
    <th>SrNo</th>
    <th>Name</th>
    <th>Salary</th>
    <th>State</th>
  </tr>
  <tr *ngFor="let item of items">
    <td>{{item.id}}</td>
    <td>{{item.Name}}</td>
    <td>{{item.Salary}}</td>
    <td>{{item.state}}</td>
  </tr>
</table> -->


<!-- 
<table class="table table-striped">
  <tr>
    <th>SrNo</th>
    <th>Name</th>
    <th>Salary</th>
    <th>State</th>
  </tr>
  <tr *ngFor="let item of items">
    <td>{{item.id}}</td>
    <td>{{item.Name}}</td>
    <td>{{item.Salary}}</td>
    <td>{{item.state}}</td>
  </tr>
</table> -->
<br>
<br>
<br>
<br>
<div class="col-lg-4 sub-shadow">
<input class="form-control" type="text" name="Name" [(ngModel)]="Name" (ngModelChange)="Search()" placeholder="Enter the Name to Search" icon="pi pi-search"  title="Search here">
</div>
<br>
 <!-- <div class="table-wrapper-scroll-y my-custom-scrollbar">  -->
  <div class="box-shadow">

  <table class="table table-bordered table-striped mb-0" style="width:100%">
    <thead>
      <tr>
        <th>SrNo <i class="fa fa-sort"></i></th>
        <th>Name<i class="fa fa-sort"></i></th>
        <th>Salary<i class="fa fa-sort"></i></th>
        <th>State<i class="fa fa-sort"></i></th>
        <th>Name<i class="fa fa-sort"></i></th>
        <th>Salary <i class="fa fa-sort"></i></th>
        <th>State<i class="fa fa-sort"></i></th>
        <th>Name <i class="fa fa-sort"></i></th>
        <th> <i class="fa fa-sort"></i>Salary</th>
        <th> <i class="fa fa-sort"></i>State </th>
      </tr>
      
    </thead>
    <tbody>

      <tr *ngFor="let item of items | paginate: { itemsPerPage: 5, currentPage: pages }">
        <td>{{item.Name}}</td>
        <!-- <td>{{item.id}}</td> -->
        <td>{{item.Salary}}</td>
        <td>{{item.state}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.Salary}}</td>
        <td>{{item.state}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.Salary}}</td>
        <td>{{item.state}}</td>
        <td>
        <i class="fa fa-edit" title="Update Info" (click)="editForm(item)" onclick="document.getElementById('id01').style.display='block'"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-trash btn btn-danger" (click)="deleteAddResto(item.id)" title="delete Info"></i></td>
        <!-- <td><button type="submit" (click)="deleteAddResto(item.id)" class=" btn btn-danger " >delete</button> -->
      </tr>
    </tbody>
    <pagination-controls (pageChange)="pages = $event"></pagination-controls> 
  </table>
</div>

<!-- </div>  -->
  <!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel"> -->